body {
	margin: 0px; 
	padding: 0px;
}

textarea.token {
	font-family: "JetBrains Mono Light", consolas;
	font-size: smaller;
	background-color: #fcfcfd;
}

/* Used for header */
.jaubs-header {
	background-color: #4040a1;
	color: #dcddde;
	padding-top: 10px;
	padding-bottom: 10px;
}

.nav-tabs .nav-item .nav-link.active {
	background-color: #cfe2ff;
}

.code-block {
	background-color: #fcfcfc;
	border : silver solid thin;
	padding: 20px;
}